In [3]:
import pandas as pd
import numpy as np
import os
import sys
import seaborn as sns
from matplotlib import pyplot as plt

In [4]:
from textblob import TextBlob

In [5]:
df = pd.read_csv('data.v1.4.csv')

In [6]:
df

,TIME,LATITUDE,LONGITUDE,ON STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,...,MinPressure,Precipation(in),VEHICLE TYPE CODE 1_PASSENGER VEHICLE,VEHICLE TYPE CODE 1_PICK-UP TRUCK,VEHICLE TYPE CODE 1_SPORT UTILITY / STATION WAGON,VEHICLE TYPE CODE 1_TAXI,VEHICLE TYPE CODE 1_other,day_of_week,date,month
0,0,40.740532,-73.944510,LONG ISLAND EXPRESSWAY,0.0,0.0,0,0,0,0,...,30.05,0.0,0,0,0,1,0,6,31,12
1,10,40.614876,-73.932106,KIMBALL STREET,0.0,0.0,0,0,0,0,...,30.05,0.0,1,0,0,0,0,6,31,12
2,11,40.722305,-73.844140,108 STREET,0.0,0.0,0,0,0,0,...,30.05,0.0,1,0,0,0,0,6,31,12
3,11,40.676693,-73.742210,MERRICK BOULEVARD,2.0,0.0,0,0,0,0,...,30.05,0.0,0,0,1,0,0,6,31,12
4,11,40.750890,-73.751130,HORACE HARDING EXPRESSWAY,0.0,0.0,0,0,0,0,...,30.05,0.0,0,0,1,0,0,6,31,12
5,11,40.603980,-73.988070,80 STREET,0.0,0.0,0,0,0,0,...,30.05,0.0,0,0,1,0,0,6,31,12
6,12,40.799976,-73.958626,WEST 109 STREET,1.0,0.0,0,0,0,0,...,30.05,0.0,0,0,1,0,0,6,31,12
7,12,40.632957,-73.990680,NaN,0.0,0.0,0,0,0,0,...,30.05,0.0,0,0,1,0,0,6,31,12
8,12,40.861862,-73.912820,WEST FORDHAM ROAD,0.0,0.0,0,0,0,0,...,30.05,0.0,0,0,1,0,0,6,31,12
9,12,40.598760,-73.945435,GRAVESEND NECK ROAD,0.0,0.0,0,0,0,0,...,30.05,0.0,0,0,1,0,0,6,31,12
10,13,40.543300,-74.164240,RICHMOND AVENUE,0.0,0.0,0,0,0,0,...,30.05,0.0,0,0,1,0,0,6,31,12
11,13,40.620472,-74.010850,77 STREET,1.0,0.0,0,0,0,0,...,30.05,0.0,1,0,0,0,0,6,31,12
12,13,40.746166,-73.834790,NaN,0.0,0.0,0,0,0,0,...,30.05,0.0,0,0,1,0,0,6,31,12
13,14,40.643444,-73.945720,NaN,1.0,0.0,0,0,0,0,...,30.05,0.0,1,0,0,0,0,6,31,12
14,14,40.598470,-74.082240,NaN,0.0,0.0,0,0,0,0,...,30.05,0.0,0,0,1,0,0,6,31,12
15,14,40.759678,-73.972160,PARK AVENUE,0.0,0.0,0,0,0,0,...,30.05,0.0,0,0,0,1,0,6,31,12
16,14,40.605568,-74.031180,BELT PARKWAY,2.0,0.0,0,0,0,0,...,30.05,0.0,1,0,0,0,0,6,31,12
17,15,40.654957,-74.007034,37 STREET,0.0,0.0,0,0,0,0,...,30.05,0.0,0,0,1,0,0,6,31,12
18,15,40.606667,-73.949844,AVENUE R,0.0,0.0,0,0,0,0,...,30.05,0.0,1,0,0,0,0,6,31,12
19,15,40.859623,-73.887470,EAST FORDHAM ROAD,0.0,0.0,0,0,0,0,...,30.05,0.0,1,0,0,0,0,6,31,12
20,15,40.598100,-73.963040,AVENUE U,0.0,0.0,0,0,0,0,...,30.05,0.0,0,0,1,0,0,6,31,12
21,15,40.724430,-73.993470,ELIZABETH STREET,1.0,0.0,1,0,0,0,...,30.05,0.0,1,0,0,0,0,6,31,12
22,16,40.781277,-73.803250,FRANCIS LEWIS BOULEVARD,0.0,0.0,0,0,0,0,...,30.05,0.0,1,0,0,0,0,6,31,12
23,16,40.637127,-73.997110,50 STREET,0.0,0.0,0,0,0,0,...,30.05,0.0,0,0,1,0,0,6,31,12
24,16,40.860280,-73.894050,EAST 188 STREET,0.0,0.0,0,0,0,0,...,30.05,0.0,0,0,1,0,0,6,31,12
25,17,40.725350,-73.793100,NaN,0.0,0.0,0,0,0,0,...,30.05,0.0,1,0,0,0,0,6,31,12
26,17,40.622787,-73.990100,17 AVENUE,0.0,0.0,0,0,0,0,...,30.05,0.0,1,0,0,0,0,6,31,12
27,17,40.758976,-73.993940,WEST 42 STREET,0.0,0.0,0,0,0,0,...,30.05,0.0,1,0,0,0,0,6,31,12
28,18,40.737500,-73.852760,HORACE HARDING EXPRESSWAY,0.0,0.0,0,0,0,0,...,30.05,0.0,1,0,0,0,0,6,31,12
29,18,40.873410,-73.875890,DECATUR AVENUE,0.0,0.0,0,0,0,0,...,30.05,0.0,1,0,0,0,0,6,31,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41996,18,40.605334,-73.755274,MOTT AVENUE,0.0,0.0,0,0,0,0,...,29.97,0.0,1,0,0,0,0,4,1,1
41997,19,40.672334,-73.901754,GLENMORE AVENUE,0.0,0.0,0,0,0,0,...,29.97,0.0,0,0,1,0,0,4,1,1
41998,19,40.733497,-73.870369,QUEENS BOULEVARD,0.0,0.0,0,0,0,0,...,29.97,0.0,1,0,0,0,0,4,1,1
41999,20,40.606886,-74.078093,NARROWS ROAD NORTH,0.0,0.0,0,0,0,0,...,29.97,0.0,1,0,0,0,0,4,1,1
42000,20,40.749706,-73.991562,WEST 32 STREET,0.0,0.0,0,0,0,0,...,29.97,0.0,1,0,0,0,0,4,1,1
42001,20,40.696035,-73.984529,FLATBUSH AVENUE EXTENSION,0.0,0.0,0,0,0,0,...,29.97,0.0,0,0,1,0,0,4,1,1
42002,22,40.750318,-73.991111,WEST 33 STREET,0.0,0.0,0,0,0,0,...,29.97,0.0,0,0,0,0,1,4,1,1
42003,22,40.714384,-73.933443,METROPOLITAN AVENUE,2.0,0.0,0,0,0,0,...,29.97,0.0,0,0,0,0,1,4,1,1
42004,22,40.829453,-73.906570,3 AVENUE,0.0,0.0,0,0,0,0,...,29.97,0.0,1,0,0,0,0,4,1,1
42005,23,40.601204,-74.065076,LILY POND AVENUE,1.0,0.0,0,0,0,0,...,29.97,0.0,1,0,0,0,0,4,1,1
42006,2,40.740701,-74.008960,WEST STREET,0.0,0.0,0,0,0,0,...,29.97,0.0,0,0,0,1,0,4,1,1
42007,2,40.651229,-73.940959,CHURCH AVENUE,0.0,0.0,0,0,0,0,...,29.97,0.0,1,0,0,0,0,4,1,1
42008,2,40.711230,-73.984785,MONTGOMERY STREET,0.0,0.0,0,0,0,0,...,29.97,0.0,1,0,0,0,0,4,1,1
42009,2,40.762593,-73.718731,NaN,0.0,0.0,0,0,0,0,...,29.97,0.0,1,0,0,0,0,4,1,1
42010,3,40.760272,-73.804000,162 STREET,0.0,0.0,0,0,0,0,...,29.97,0.0,1,0,0,0,0,4,1,1
42011,4,40.722242,-73.986287,EAST HOUSTON STREET,0.0,0.0,0,0,0,0,...,29.97,0.0,0,0,0,1,0,4,1,1
42012,4,40.726570,-73.852639,QUEENS BOULEVARD,0.0,0.0,0,0,0,0,...,29.97,0.0,1,0,0,0,0,4,1,1
42013,4,40.595562,-73.747100,SEAGIRT BOULEVARD,0.0,0.0,0,0,0,0,...,29.97,0.0,1,0,0,0,0,4,1,1
42014,5,40.845643,-73.902098,WEBSTER AVENUE,1.0,0.0,0,0,0,0,...,29.97,0.0,1,0,0,0,0,4,1,1
42015,5,40.767373,-73.950057,NaN,3.0,0.0,0,0,0,0,...,29.97,0.0,0,0,0,1,0,4,1,1
42016,5,40.712796,-73.958666,ROEBLING STREET,0.0,0.0,0,0,0,0,...,29.97,0.0,0,0,0,1,0,4,1,1
42017,5,40.715722,-73.825733,NaN,2.0,0.0,0,0,0,0,...,29.97,0.0,1,0,0,0,0,4,1,1
42018,5,40.674532,-73.868837,BELMONT AVENUE,2.0,0.0,0,0,0,0,...,29.97,0.0,0,0,0,1,0,4,1,1
42019,6,40.803116,-73.956320,8 AVENUE,1.0,0.0,0,0,0,0,...,29.97,0.0,1,0,0,0,0,4,1,1
42020,6,40.762179,-73.966129,EAST 60 STREET,0.0,0.0,0,0,0,0,...,29.97,0.0,0,0,0,0,1,4,1,1
42021,6,40.766145,-73.997235,WEST SIDE HIGHWAY,0.0,0.0,0,0,0,0,...,29.97,0.0,1,0,0,0,0,4,1,1
42022,7,40.813938,-73.948419,8 AVENUE,0.0,0.0,0,0,0,0,...,29.97,0.0,1,0,0,0,0,4,1,1
42023,8,40.727058,-73.870631,WOODHAVEN BOULEVARD,0.0,0.0,0,0,0,0,...,29.97,0.0,0,0,0,0,1,4,1,1
42024,8,40.717022,-73.830499,NaN,0.0,0.0,0,0,0,0,...,29.97,0.0,1,0,0,0,0,4,1,1
42025,8,40.765014,-73.887091,ASTORIA BOULEVARD,0.0,0.0,0,0,0,0,...,29.97,0.0,0,0,1,0,0,4,1,1

In [7]:
df1 = df[['TIME', 'ON STREET NAME']]

In [8]:
df1

       TIME                    ON STREET NAME
0         0  LONG ISLAND EXPRESSWAY
1        10  KIMBALL STREET
2        11  108 STREET
3        11  MERRICK BOULEVARD
4        11  HORACE HARDING EXPRESSWAY
5        11  80 STREET
6        12  WEST 109 STREET
7        12                               NaN
8        12  WEST FORDHAM ROAD
9        12  GRAVESEND NECK ROAD
10       13  RICHMOND AVENUE
11       13  77 STREET
12       13                               NaN
13       14                               NaN
14       14                               NaN
15       14  PARK AVENUE
16       14  BELT PARKWAY
17       15  37 STREET
18       15  AVENUE R
19       15  EAST FORDHAM ROAD
20       15  AVENUE U
21       15  ELIZABETH STREET
22       16  FRANCIS LEWIS BOULEVARD
23       16  50 STREET
24       16  EAST 188 STREET
25       17                               NaN
26       17  17 AVENUE
27       17  WEST 42 STREET
28       18  HORACE HARDING EXPRESSWAY
29       18  DECATUR AVENUE
...     ...                               ...
41996    18  MOTT AVENUE
41997    19  GLENMORE AVENUE
41998    19  QUEENS BOULEVARD
41999    20  NARROWS ROAD NORTH
42000    20  WEST 32 STREET
42001    20  FLATBUSH AVENUE EXTENSION
42002    22  WEST 33 STREET
42003    22  METROPOLITAN AVENUE
42004    22  3 AVENUE
42005    23  LILY POND AVENUE
42006     2  WEST STREET
42007     2  CHURCH AVENUE
42008     2  MONTGOMERY STREET
42009     2                               NaN
42010     3  162 STREET
42011     4  EAST HOUSTON STREET
42012     4  QUEENS BOULEVARD
42013     4  SEAGIRT BOULEVARD
42014     5  WEBSTER AVENUE
42015     5                               NaN
42016     5  ROEBLING STREET
42017     5                               NaN
42018     5  BELMONT AVENUE
42019     6  8 AVENUE
42020     6  EAST 60 STREET
42021     6  WEST SIDE HIGHWAY
42022     7  8 AVENUE
42023     8  WOODHAVEN BOULEVARD
42024     8                               NaN
42025     8  ASTORIA BOULEVARD

[42026 rows x 2 columns]

In [9]:
#df1.to_csv('streettext.csv', index=False)

In [48]:
df1['word_count'] = df1['ON STREET NAME'].apply(lambda x: len(str(x).split(" ")))
df1[['ON STREET NAME','word_count']].head()

/Users/cheling/anaconda3/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

                     ON STREET NAME  word_count
0  LONG ISLAND EXPRESSWAY                    13
1  KIMBALL STREET                            20
2  108 STREET                                24
3  MERRICK BOULEVARD                         17
4  HORACE HARDING EXPRESSWAY                 10

In [52]:
for i,word in enumerate(df1['ON STREET NAME']):
  df1.loc[i, 'idf'] = np.log(df.shape[0]/(len(df[df['ON STREET NAME'].str.contains(word)])))

ValueError: cannot index with vector containing NA / NaN values

In [50]:
df1['tf'] = df1['ON STREET NAME'].apply(lambda x: len(str(x).split(" ")))

/Users/cheling/anaconda3/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df1['tf'] = df1['ON STREET NAME'].apply(lambda x: len(str(x).split(" ")))

In [51]:
df1

       TIME                    ON STREET NAME  word_count  char_count  tf
0         0  LONG ISLAND EXPRESSWAY                    13        32.0  13
1        10  KIMBALL STREET                            20        32.0  20
2        11  108 STREET                                24        32.0  24
3        11  MERRICK BOULEVARD                         17        32.0  17
4        11  HORACE HARDING EXPRESSWAY                 10        32.0  10
5        11  80 STREET                                 25        32.0  25
6        12  WEST 109 STREET                           20        32.0  20
7        12                               NaN           1         NaN   1
8        12  WEST FORDHAM ROAD                         18        32.0  18
9        12  GRAVESEND NECK ROAD                       16        32.0  16
10       13  RICHMOND AVENUE                           19        32.0  19
11       13  77 STREET                                 25        32.0  25
12       13                               NaN           1         NaN   1
13       14                               NaN           1         NaN   1
14       14                               NaN           1         NaN   1
15       14  PARK AVENUE                               23        32.0  23
16       14  BELT PARKWAY                              22        32.0  22
17       15  37 STREET                                 25        32.0  25
18       15  AVENUE R                                  26        32.0  26
19       15  EAST FORDHAM ROAD                         18        32.0  18
20       15  AVENUE U                                  26        32.0  26
21       15  ELIZABETH STREET                          18        32.0  18
22       16  FRANCIS LEWIS BOULEVARD                   12        32.0  12
23       16  50 STREET                                 25        32.0  25
24       16  EAST 188 STREET                           20        32.0  20
25       17                               NaN           1         NaN   1
26       17  17 AVENUE                                 25        32.0  25
27       17  WEST 42 STREET                            21        32.0  21
28       18  HORACE HARDING EXPRESSWAY                 10        32.0  10
29       18  DECATUR AVENUE                            20        32.0  20
...     ...                               ...         ...         ...  ..
41996    18  MOTT AVENUE                               23        32.0  23
41997    19  GLENMORE AVENUE                           19        32.0  19
41998    19  QUEENS BOULEVARD                          18        32.0  18
41999    20  NARROWS ROAD NORTH                        17        32.0  17
42000    20  WEST 32 STREET                            21        32.0  21
42001    20  FLATBUSH AVENUE EXTENSION                 10        32.0  10
42002    22  WEST 33 STREET                            21        32.0  21
42003    22  METROPOLITAN AVENUE                       15        32.0  15
42004    22  3 AVENUE                                  26        32.0  26
42005    23  LILY POND AVENUE                          19        32.0  19
42006     2  WEST STREET                               23        32.0  23
42007     2  CHURCH AVENUE                             21        32.0  21
42008     2  MONTGOMERY STREET                         17        32.0  17
42009     2                               NaN           1         NaN   1
42010     3  162 STREET                                24        32.0  24
42011     4  EAST HOUSTON STREET                       16        32.0  16
42012     4  QUEENS BOULEVARD                          18        32.0  18
42013     4  SEAGIRT BOULEVARD                         17        32.0  17
42014     5  WEBSTER AVENUE                            20        32.0  20
42015     5                               NaN           1         NaN   1
42016     5  ROEBLING STREET                           19        32.0  19
42017     5                               NaN           1         NaN   1
42018     5  BELMONT AVENUE                            20        32.0  20
42019     6  8 AVENUE                                  26        32.0  26
42020     6  EAST 60 STREET                            21        32.0  21
42021     6  WEST SIDE HIGHWAY                         18        32.0  18
42022     7  8 AVENUE                                  26        32.0  26
42023     8  WOODHAVEN BOULEVARD                       15        32.0  15
42024     8                               NaN           1         NaN   1
42025     8  ASTORIA BOULEVARD                         17        32.0  17

[42026 rows x 5 columns]

In [11]:
df1['char_count'] = df1['ON STREET NAME'].str.len() ## this also includes spaces
df1[['ON STREET NAME','char_count']].head()

/Users/cheling/anaconda3/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

                     ON STREET NAME  char_count
0  LONG ISLAND EXPRESSWAY                  32.0
1  KIMBALL STREET                          32.0
2  108 STREET                              32.0
3  MERRICK BOULEVARD                       32.0
4  HORACE HARDING EXPRESSWAY               32.0

In [34]:
len(df.index)

42026

In [42]:
tf1 = (df1['ON STREET NAME'][1:6]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1

        words    tf
0              85.0
1      STREET   3.0
2     KIMBALL   1.0
3         108   1.0
4     MERRICK   1.0
5   BOULEVARD   1.0
6     HARDING   1.0
7  EXPRESSWAY   1.0
8      HORACE   1.0
9          80   1.0

In [22]:
len(df.index)

42026

In [40]:
df2 = df1["ON STREET NAME"].tolist()

In [46]:
TextBlob(df['ON STREET NAME'][4]).words

WordList(['HORACE', 'HARDING', 'EXPRESSWAY'])

In [44]:
for col in range(len(df.index)):
    TextBlob(df['ON STREET NAME'][col]).words

TypeError: The `text` argument passed to `__init__(text)` must be a string, not <class 'float'>

In [54]:
import folium
from folium import plugins
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [56]:
m = folium.Map([40.740532,-73.944510], zoom_start=11)
m